//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .nav-toggle {
        display: flex;
        flex-flow: column;
        order: 1;
        font-size: @font-size-s;
        top: 0;
        position: relative;
        margin-right: 2rem;

        &:before {
            font-size: 2rem;
        }

        & > span {
            overflow: inherit;
            position: relative;
            margin: 0;
            width: 100%;
        }
    }

    .nav-sections {
        border-bottom: .05rem solid @brand-gray-light;
    }

    .navigation ul > li.level0 .level-top {
        text-transform: uppercase;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .nav-sections {
        background: @brand-white;
    }
}

//
//  Desktop
//  ____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .sticky .nav-sections {
        margin: 0;
    }

    .nav-sections {
        background: none;
    }

    .navigation .level0 > .level-top:hover,
    .navigation .level0 > .level-top.ui-state-focus,
    .navigation .level0 > .level-top.ui-state-active {
        color: @brand-blue-navy;
        text-decoration: underline;
    }

    .navigation .level0 .submenu {
        font-weight: @font-weight__regular;
    }

    .navigation .level0 .submenu a:hover,
    .navigation .level0 .submenu a.ui-state-focus {
        background: none;
        color: @brand-blue-navy;
        text-decoration: underline;
    }

    .navigation .level0.level-top {
        &:first-child .level-top{
            padding-left: 0;
        }

        &:last-child .level-top{
            padding-right: 0;
        }
    }

    .navigation {
        background: none;
        font-weight: @font-weight__regular;

        ul {
            display: flex;
            justify-content: center;
        }

        .level0 > .level-top,
        .level0.parent > .level-top {
            padding: 0 1rem;

            & > .ui-menu-icon {
                display: none;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .navigation .level0 > .level-top,
    .navigation .level0.parent > .level-top {
        padding: 0 4rem;
    }
}
